@import "_variables";

/*변수*/
$red: #fa5252;



// 480px 보다 작으면 
@mixin mobile {
  @media (min-width: #{$phone_landscape_portrait}) and (max-width:$large_tablet_portrait) {
    @content;
  }
}
// 705
// 768px이상 1279px 이하 
@mixin tablet {
  @media (min-width: #{$large_tablet_portrait}) and (max-width:$desktop) {
    @content;
  }
}

// 1024px 이상 
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

/*넓이, 높이 자동 계산함수*/
@mixin square($size){
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}