

$phone_portrait :320px;
$phone_landscape_portrait:480px;
$small_tablet_portrait:600px;
$large_tablet_portrait:768px;
$phone_small_tablet_landscape:800px;
$larget_tablet_landscape:1024px;
$desktop: 1280px;
$wide_screen_desktop:1440px;


