@import "mixin";



.app {
  background-color:#B2EBF4;
  height:100%;
  width:100%;

  @include desktop {
    aside{
      transform : translate(0px) !important;
    }
  }

  aside {
    position:fixed !important;
    top:0 !important;
    height:100% !important;
    left:0 !important;
    margin-right:0 !important;
    margin-left: 0 !important;
    
    block-size:100%;
    inline-size:260px;
    z-index:1003;
    display:flex;
    flex-flow:column nowrap;
    inset-block-start: 0;
    inset-inline-start: 0;

    will-change: transform,inline-size;

    transform : translate(-260px);
    
    background-color:rgb(77, 51, 17);


    color:white;
   
    .aside_logo_box {
        background-color:red;

        height:40px;
    }


    .aside_menu_overflow{
      height:calc( 100% - 70px );
    }
    .aside_menu_wrapper{
      background-color:rgb(99, 189, 133);
      overflow:auto;

      padding:2px;

    }

    .aside_menu_footer{
      height:30px;
    }
  }

  .layout_content_wrapper{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    min-block-size: 100dvh;
    transition:padding-inline-start .2s ease-in-out;

    // default : auto 
    // 요소의 변화를 미리 브라우저에게 알려주어 브라우저가 미리 최적화함 
    will-change:padding-inline-start;
    padding-inline-start:0px;
    padding-top:60px;

    @include desktop {
      padding-inline-start:260px;
      
    }

    header{
      @include desktop{
        left:260px;
      }
      position:fixed;
      top:0;
      right:0;
      left:0;
      border-radius:0.375rem;
      z-index:1075;

      display:flex;
      flex-flow:row nowrap;

      align-items:center;

      padding:0 1.5rem;
      
      // height:3.875rem;
      background-color:rgb(80, 52, 111);
      color:white;


      height:60px;


      .layout_menu_toggle{
        display:flex;
      }

      .header_search_area{
        display:flex;   
      
      }
      .header_right_area{
        display:flex;
        flex-direction: row !important;
        margin-left:auto !important;
      }




    }


    main {
      display:flex;
      align-items:stretch;
      flex:1 1 auto;
      justify-content:space-between;
      flex-direction:column;
      min-height:1px;
      padding-bottom:0 !important;

      box-sizing:border-box;


      background-color:rgb(180, 200, 124);

      .content{
        display:block;
        padding:0 1.5rem;
        min-height:1px;
        padding-top:1.5rem !important;
        padding-bottom:1.5rem !important;
        flex-grow:1 !important;
        max-width:1440px;
        width:100%;

        margin-left:auto;
        margin-right:auto;

      }
    }
  



    footer{
      flex : 0 0 auto;
      display:flex;
      justify-content: center;
      align-items:center;
      min-height:1px;
      height:40px;

      background-color:cadetblue;
    }
  }
}